page-healthtips {
  ion-scroll {
    white-space: nowrap;
    height: 300px;
    overflow: hidden;
  }

  .card{
    margin-top: -10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
  }

  ion-card{
    width: 30vw;
    display: inline-block;
  }
}
