h1.welcome{
  text-align: center;
  color: #7CB658;
  font-size: 50px;
  padding-top: 50px;
}

.welcome-image{
  width: 50%;
  margin: auto;
  display: block;
  padding-top: 80px;
}

.buttons{
  width:100%;
}

p.info{
  text-align: center;
  font-size:17px;
  color:#7CB658;
}
